.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
.main {
    width: 100%;
    height: 100%;
    background-color: rgb(21, 4, 66);
}

.list {
    position: relative;
    margin: 10px auto;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 2px;
}

.item__box {
    border-radius: 5px;
    width: 80px;
    height: 55px;
    margin-bottom: 0 !important;
}

.game__btn {
    border: none;
    border-radius: 10px;
    background-color: rgb(253, 242, 183);
    width: 100%;
    height: 100%;
    img {
        width: 100%;
        height: 100%;
    }
    &:hover {
        background-color: rgba(247, 233, 123, 0.292);
    }
    &:active {
        background-color: rgba(245, 138, 138, 0.315);
    }
}

.title {
    color: #fff;
    text-align: center;
    margin: 50px auto;
}

.outline {
    button{
        background-color: blueviolet;
    }
}

.blank {
    button {
        display: none;
    }
}
